/* LOGIN FORM */

.login {
    background: var(--darkened-bg);
    height: auto;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
    background-color: #5A67BA;
   
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #5A67BA;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}

.login #header h1 {
    font-size: 1.125rem;
    margin: 0;
  
}
#site-name a
{
   display: flex;
   text-decoration: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-left: 10px;
}


#site-name a span {
    color: black;
    font-weight: 820;
    font-size: 25.5px;
    opacity:.65; 
}
.login #header h1 a {
    color: var(--header-link-color);
    
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-input-wrapper input {
    flex: 1;
  }
  
  .password-input-wrapper .fa-eye,
  .password-input-wrapper .fa-eye-slash {
    position: absolute;
    right: 10px;
  }
  