{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'admin/css/unusable_password_field.css' %}">
  <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" href="{% static "admin/css/custom_baseforindex.css" %}">
<link rel="stylesheet" href="{% static "admin/css/custom_nav_sidebar.css" %}">
<link rel="stylesheet" href="{% static "admin/css/content.css" %}">
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}
{% block header %}
 <header id="header">
   <div id="branding">
{% block branding %}
<input type="search" id="nav-filter" placeholder="{% translate 'Search' %}"
  aria-label="{% translate 'Filter navigation items' %}">
<button class="search-button">
  <img src="{% static 'admin/img/search-icon.svg' %} " alt="Search">
</button>
{% endblock %}
</div>



{% block usertools %}
      {% if has_permission %}
      <div id="user-tools">
        {% block welcome-msg %}
        {% comment %} {% translate 'Welcome,' %} {% endcomment %}
        <span class="username-icon">{% firstof user.username|slice:":1" %}</span>
        <span class="welcome">Hi, <span class="user-name">{% firstof user.username %}</span></span>
        {% endblock %}
        {% block userlinks %}
        <div id="dropdown">
          <span class="arrow" onclick="toggleDropdown()"><i class="fa-solid fa-angle-down"></i></span>
          <div id="dropdown-content" class="hidden">
            {% comment %} <span>{% include "admin/color_theme_toggle.html" %}</span> {% endcomment %}
            {% if site_url %}
            <a href="{{ site_url }}">{% translate 'View site' %}</a>
            {% endif %}
            {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a>
            {% endif %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
            {% endif %}
            <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
              {% csrf_token %}
              <button type="submit" style="color:#624DE3">{% translate 'Log out' %}</button>
            </form>
          </div>
        </div>
        {% load i18n static %}
        <div id="dropdown1">
          <span class="arrow" onclick="toggleDropdown1()"><i class="fa-solid fa-bell"></i></span>
          <div id="dropdown-content1" class="hidden">

                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p>{% translate 'None available' %}</p>
                {% else %}
                
                    {% for entry in admin_log %}
                      <div class="notifications">
                        {% comment %} <span class="visually-hidden">{% if entry.is_addition %}{% translate 'Added:' %}{% elif entry.is_change %}{% translate 'Changed:' %}{% elif entry.is_deletion %}{% translate 'Deleted:' %}{% endif %}</span> {% endcomment %}
                        {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                        {% else %}
                            <a  href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                       
                        {% if entry.is_addition %} is added{% endif %}{% if entry.is_change %} is changed{% endif %}{% if entry.is_deletion %}is deleted{% endif %}
                    </div>
                    {% endfor %}
               
                
                {% endif %}           

          </div>
        </div>
        {% endblock %}
    </div>
    {% endif %}
  
   {% endblock %}
   {% block nav-global %}{% endblock %}
    
  </header>
  <hr style="background-color:#C8CBD9; position:fixed; width: 100%; margin-top:60px; z-index:1000; border: 0; ">
  {% endblock %}
  <!-- END Header -->
{% if not is_popup %}
{% block breadcrumbs %}

{% endblock %}
{% endif %}
{% block content %}<div id="content-main">
<form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<input type="text" name="username" value="{{ original.get_username }}" class="hidden">
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if form.errors %}
    <p class="errornote">
    {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
{% endif %}

<p>{% blocktranslate with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktranslate %}</p>
{% if not form.user.has_usable_password %}
  <p>{% blocktranslate %}This action will <strong>enable</strong> password-based authentication for this user.{% endblocktranslate %}</p>
{% endif %}

<fieldset class="module aligned">

<div class="form-row">
  {{ form.usable_password.errors }}
  <div class="flex-container">{{ form.usable_password.label_tag }} {{ form.usable_password }}</div>
  {% if form.usable_password.help_text %}
  <div class="help"{% if form.usable_password.id_for_label %} id="{{ form.usable_password.id_for_label }}_helptext"{% endif %}>
    <p>{{ form.usable_password.help_text|safe }}</p>
  </div>
  {% endif %}
</div>

<div class="form-row field-password1">
  {{ form.password1.errors }}
  <div class="flex-container">{{ form.password1.label_tag }} {{ form.password1 }}</div>
  {% if form.password1.help_text %}
  <div class="help"{% if form.password1.id_for_label %} id="{{ form.password1.id_for_label }}_helptext"{% endif %}>{{ form.password1.help_text|safe }}</div>
  {% endif %}
</div>

<div class="form-row field-password2">
  {{ form.password2.errors }}
  <div class="flex-container">{{ form.password2.label_tag }} {{ form.password2 }}</div>
  {% if form.password2.help_text %}
  <div class="help"{% if form.password2.id_for_label %} id="{{ form.password2.id_for_label }}_helptext"{% endif %}>{{ form.password2.help_text|safe }}</div>
  {% endif %}
</div>

</fieldset>

<div class="submit-row">
  {% if form.user.has_usable_password %}
  <input type="submit" name="set-password" value="{% translate 'Change password' %}" class="default set-password">
  <input type="submit" name="unset-password" value="{% translate 'Disable password-based authentication' %}" class="unset-password">
  {% else %}
  <input type="submit" name="set-password" value="{% translate 'Enable password-based authentication' %}" class="default set-password">
  {% endif %}
</div>

</div>
</form></div>
<script src="{% static 'admin/js/unusable_password_field.js' %}" defer></script>
{% endblock %}
