{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" href="{% static "admin/css/custom_baseforindex.css" %}">
<link rel="stylesheet" href="{% static "admin/css/custom_nav_sidebar.css" %}">
<link rel="stylesheet" href="{% static "admin/css/content.css" %}">
{% endblock %}


 <!-- Header -->
 {% block header %}
 <header id="header">
   <div id="branding">
{% block branding %}
<input type="search" id="nav-filter" placeholder="{% translate 'Search' %}"
  aria-label="{% translate 'Filter navigation items' %}">
<button class="search-button">
  <img src="{% static 'admin/img/search-icon.svg' %} " alt="Search">
</button>
{% endblock %}
</div>



{% block usertools %}
      {% if has_permission %}
      <div id="user-tools">
        {% block welcome-msg %}
        {% comment %} {% translate 'Welcome,' %} {% endcomment %}
        <span class="username-icon">{% firstof user.username|slice:":1" %}</span>
        <span class="welcome">Hi, <span class="user-name">{% firstof user.username %}</span></span>
        {% endblock %}
        {% block userlinks %}
        <div id="dropdown">
          <span class="arrow" onclick="toggleDropdown()"><i class="fa-solid fa-angle-down"></i></span>
          <div id="dropdown-content" class="hidden">
            {% comment %} <span>{% include "admin/color_theme_toggle.html" %}</span> {% endcomment %}
            {% if site_url %}
            <a href="{{ site_url }}">{% translate 'View site' %}</a>
            {% endif %}
            {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a>
            {% endif %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
            {% endif %}
            <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
              {% csrf_token %}
              <button type="submit" style="color:#624DE3">{% translate 'Log out' %}</button>
            </form>
          </div>
        </div>
        {% load i18n static %}
        <div id="dropdown1">
          <span class="arrow" onclick="toggleDropdown1()"><i class="fa-solid fa-bell"></i></span>
          <div id="dropdown-content1" class="hidden">

                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p>{% translate 'None available' %}</p>
                {% else %}
                
                    {% for entry in admin_log %}
                      <div class="notifications">
                        {% comment %} <span class="visually-hidden">{% if entry.is_addition %}{% translate 'Added:' %}{% elif entry.is_change %}{% translate 'Changed:' %}{% elif entry.is_deletion %}{% translate 'Deleted:' %}{% endif %}</span> {% endcomment %}
                        {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                        {% else %}
                            <a  href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                       
                        {% if entry.is_addition %} is added{% endif %}{% if entry.is_change %} is changed{% endif %}{% if entry.is_deletion %}is deleted{% endif %}
                    </div>
                    {% endfor %}
               
                
                {% endif %}           

          </div>
        </div>
        {% endblock %}
    </div>
    {% endif %}
  
   {% endblock %}
   {% block nav-global %}{% endblock %}
    
  </header>
  <hr style="background-color:#C8CBD9; position:fixed; width: 100%; margin-top:60px; z-index:1000; border: 0; ">
  {% endblock %}
  <!-- END Header -->

{% block breadcrumbs %}

{% endblock %}

{% block content %}

<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p>

{% endblock %}
